node_modules

allTrades.json
exitedTrades.json
holdings.json
lifetime-profits-breakdown.json
lifetime-total-profit.txt
yearly-profits-breakdown.json
yearly-symbol-profits-breakdown.json
totalInvestedAmountAtEndOfYears.json
cashflows-breakdown.json
xirr-after-starting-trading.json
xirr-yearly-breakdown.json

2020-2021.csv
2021-2022.csv
2022-2023.csv
2023-2024.csv

data/_deep
data/_gautham
data/_mohit
data/_david